<% @lists.each do |list| %>
  <div class="col-md-8 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <%= link_to user_path(list.user), class: "no-text-decoration" do %>
            <%= gravatar_for(list.user) %>
          <% end %>
          <%= link_to user_path(list.user), class: "black-color no-text-decoration",
            title: list.user.name do %>
            <strong><%= list.user.name %></strong>
          <% end %>
          <% if list.user_id == current_user.id %>
            <%= link_to list_path(list), method: :delete, class: "ml-auto mx-0 my-auto" do %>
            <i class="far fa-trash-alt fa-2x"></i>
            <% end %>
          <% end %>
        </div>

        <div class="card-body">
          <div class="row parts">
            <%= link_to "", "#", class: "love" %>
              <i class="far fa-heart fa-3x"></i>
            
            <%= link_to "", "#", class: "comment" %>
              <i class="far fa-comment fa-3x"></i>
          </div>
          <div><strong>「いいね！」10件</strong>
          </div>
          <div>
          <%= link_to(list_path(list)) do %>
            <span><strong><%= list.user.name %></strong></span>
            <span><%= list.title %></span>
          <% end %>
            <%= link_to time_ago_in_words(list.created_at).upcase + "前", "#", class: "list-time no-text-decoration" %>
            <hr>
            <div class="row parts">
              <form action="#" class="w-100">
                <div>
                  <textarea class="form-control comment-input border-0" placeholder="コメント..." rows="1"></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
